mixin sEvaluate(data)
	// start sEvaluate
	+b.SECTION.sEvaluate.section#sEvaluate&attributes(attributes).d-none.d-lg-block
		.container
			+e.block.panel
				+b.section-title
					h2 Оцените возможности 
						span профессиональной аналитической платформы
				.h5.mb-5 Первые #[span.text-primary 7 дней] бесплатно
				a.btn.btn-primary(href="#sForm") Записаться на демо
				+img("img/sEvaluate-img.png")
	// end sEvaluate