// start .sEvaluate
.sEvaluate {
	--sPT: #{rem(0)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
		h2 {
			max-width: em(200);
		}
	}
	&__col {
	}
	&__item {
	}

	.btn {
		max-width: 260px;
		width: 100%;
	}
	&__block {
		overflow: hidden;
		z-index: 2;
		padding: 60px 40px;
		@include media-breakpoint-up(xl) {
			padding: 120px 80px;
			margin-inline: 0;
		}
		margin-inline: -15px;
		img {
			@include a-cent(y);
			right: -5%;
			z-index: -1;
			max-height: 100%;
			max-width: 70%;
		}
		&::before {
			content: url(../img/sEvaluate-circles.svg);
			position: absolute;
			left: 9%;
			top: -5%;
			// opacity: 0.5;
			// z-index: -1;
			// z-index: 2;
			// border-radius: 50%;
			// width: rem(1805);
			// aspect-ratio: 1;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sEvaluate
