

mixin sCapabilities(data)
	mixin item(i)
		.row.gy-4
			.col.order-lg-last
				+img(`img/tab-${i}.png`).res-i
			+e.col.col-lg-auto
				block

	// start sCapabilities
	+b.SECTION.sCapabilities.section#sCapabilities&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Возможности #[span платформы]
			+ddGroup()
				+ddGroupItem("Акции", "active")
					+item(1)
						div
							+e.title Ключевой функционал
							ul
								li Структурированная отчетность и ключевые показатели
								li Мультипликаторы и доходности (текущие, прогнозные, исторические)
								li Наложение драйверов (курс, цена металла и др.) на цену акций и мультипликаторы
								li Прогнозы показателей  и консенсус-оценки
								li Выгрузка данных в Excel
						div
							+e.title Какие проблемы решает
							ul
								li Быстрый поиск инвестиционных идей через графики с оценочными метриками
								li Единое пространство для анализа компании: цена, отчётность, события, макро, состояние отрасли
								li Сравнение с пирами и историческими оценками в один клик
								li Доступ к отраслевым и корпоративным обзорам
				+ddGroupItem("Облигации")
					+item(2)
						div
							+e.title Ключевой функционал
							ul 
								li Все облигации в одной таблице
								li Карты рынка облигаций (график доходности,  дюрация, сравнение)
								li Расчет доходности в реальном времени
								li Анализ исторического спреда
						div
							+e.title Какие задачи решает
							ul
								li Экономия времени при подборе облигаций: сравнение по ставке, дюрации, объемам, рейтингу, цене
								li Визуализация лучших по доходности облигаций на карте рынка
								li Расчеты по облигациям со сложными структурами: прогнозный кэшфлоу по флоутерам, спред к RUONIA, реальная дюрация без завышения, дюрация к оферте (с возможностью выбрать к которой), показ текущей доходности для бессрочных
				+ddGroupItem("Сырьевые рынки")
					+item(3)
						div
							+e.title Ключевой функционал
							ul
								li Самый большой скринер цен на сырьё в РФ
								li Самый большой скринер цен на сырьё в РФ
								li Индустриальные метрики: ставки фрахта, TC/RC и др
								li Структура производства и потребления сырья (скоро)
								li Выгрузка данных в Excel
						div
							+e.title Какие проблемы решает
							ul
								li Кривая себестоимости (скоро) и баланс рынка по ключевым сырьевым товарам   
								li Доступ к уникальным и закрытым ценам (например, Urals)          
								li Прогнозирование цен без необходимости глубоко погружаться в рынок: бычьи, стрессовые и среднециклические сценарии, прогнозы, консенсус
								li Квартальные отчеты про состояние отраслей: экономика нефти и нефтепродуктов, металлургия электроэнергетика и другие
	// end sCapabilities