mixin sKeyRews(data)
	// start sKeyRews
	+b.SECTION.sKeyRews.section#sKeyRews&attributes(attributes)
		.container
			+b.section-title
				h2 Ключевые 
							span обзоры
			+e.row.row
				.col-lg-6
					+img("img/sKeyRews-1.png").res-i
				
				.col-lg-6
					+img("img/sKeyRews-2.png").res-i
			a.btn.btn-primary(href="#") Получить обзор
	// end sKeyRews