mixin sEcosystem(data)
	// start sEcosystem
	+b.SECTION.sEcosystem.section.text-center#sEcosystem&attributes(attributes)
		.container
			+b.section-title
				h2 Экосистема сервисов 
					span.d-block и данных для инвестиций
				
			+img("img/sEcosystem-img.png").res-i
	// end sEcosystem