:root {
	--l-blue: #{$primary};
	--l-dark-bg: #{$body-color};
	--l-white: #fefefe;
	--l-grey: #{$secondary};

	--animate-delay: 1.2s;
	--bs-body-font-size: 14px;

	--sPT: 40px;
	--sPB: 40px;
	--sTPB: 40px;

	--fancybox-content-color: var(--bs-body-color);
	--swiperArrowSize: 24px;
	--swiperArrowPosition: 0;
	--swiperBorderColorDef: #fff;
	--swiperColorDef: #fff;
	--swiperBgDef: var(--bs-primary);

	--swiperBorderColorDefHover: #fff;
	--swiperColorDefHover: #fff;
	--swiperBgDefHover: rgba(85, 99, 250, 0.427);

	//  --carousel-button-width: 48px;
	//  --carousel-button-height: 48px;

	//  --carousel-button-svg-width: 24px;
	//  --carousel-button-svg-height: 24px;

	//  --carousel-button-svg-stroke-width: 2.5;
	//  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0/ 0.4));

	@include media-breakpoint-up(md) {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
		--sTPB: #{rem(40)};
		--bs-body-font-size: #{$em-base};
	}
}
.fancybox__container {
	--fancybox-bg: rgba(58, 59, 60, 0.77);
}
@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
