// start .sLib
.sLib {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		.h6,
		h6 {
			font-weight: 400;
			margin-bottom: 0.1em;
		}
		p {
			color: rgba(4, 7, 24, 0.5);
		}
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sLib
