mixin sLib(data)
	// start sLib
	+b.SECTION.sLib.section#sLib&attributes(attributes)
		.container
			+b.section-title
				.row.gy-4
					.col-lg-6
						h2 Библиотека обзоров  
							span и данных на аналитическом портале Эйлер
					.col-lg-6
						p Источник независимой и актуальной аналитики по отраслям, эмитентам и секторам экономики. Доступ к макроэкономическим обзорам, исследованиям, моделям и прогнозам от команды аналитиков с опытом работы на фондовом рынке 15+ лет
			+e.row.row.gy-4
				.col-md-6
					h5.mb-4 Углубленные обзоры по отраслям
					.mb-4
						.h6 Нефть и газ

					.mb-4
						.h6 Материалы
						p металлургия, удобрения, лесопродукция

					.mb-4
						.h6 Финансовый сектор
					.mb-4
						.h6 ТМТ 
						p телекоммуникации, медиа, технологии и многоотраслевые холдинги
					.mb-4
						.h6 Розничная торговля и недвижимость
					.mb-4
						.h6 Транспорт
					.mb-4
						.h6 Электроэнергетика
				.col-md-6
					h5.mb-4 Макроэкономические и рыночные исследования

					.h6.mb-4 Макроэкономика
					.h6.mb-4 Ставки, облигации, валюты
					.h6.mb-4 Корпоративный долг
					.h6.mb-4 Стратегия: акции
					.h6.mb-4 ПИФы 
					.h6.mb-4 Глобальные активы
	// end sLib