// start .headerBlock
.headerBlock {
	@include media-breakpoint-up(sm) {
		--sPT: #{rem(132)};
	}
	--sPT: #{rem(152)};
	// --sPB: #{rem()};
	--sTPB: #{rem(30)};
	h1 {
		max-width: 15em;
		margin-left: auto;
		margin-right: auto;
		line-height: 1;
		margin-bottom: 0.23em;
		span {
			background: linear-gradient(134deg, #8cebfd 0%, #6470ff 49.04%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-position: top center;
		}
	}
	background-image: linear-gradient(
		360deg,
		#f3f6ff 0%,
		rgba(255, 255, 255, 0.8) 100%
	);
	position: relative;
	z-index: 2;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		@include media-breakpoint-up(xl) {
			width: 100%;
		}
		width: 1400px;
		aspect-ratio: 1876 / 1187;
		background-image: url(../img/head-fig.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		// z-index: -1;
		pointer-events: none;
	}

	p {
		font-size: rem(18);
		font-weight: 300;
		max-width: rem(570);
		margin-inline: auto;
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}
	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		gap: rem(4) rem(30);
		list-style: none;
		justify-content: center;
		margin-bottom: rem(30);
		a {
			display: inline-block;
			padding-block: rem(8);
			font-size: rem(18);
			font-weight: 300;
			color: #000;
			border-bottom: 2px solid transparent;
			&.active {
				font-weight: 500;
			}
			&:hover,
			&.active {
				border-color: $primary;
			}
		}
	}

	&__btn {
		width: rem(300);
		margin-bottom: rem(40);
		&--fixed {
			@include media-breakpoint-up(md) {
				display: none;
			}
			@include media-breakpoint-down(md) {
				position: fixed;
				bottom: 15px;
				left: 50%;
				transform: translateX(-50%);
				width: calc(100% - rem(30));
				z-index: 120;
				margin-bottom: 0;
				transition: transform 0.3s ease-in-out;
				&:not(.active) {
					transform: translateX(-50%) translateY(calc(100% + 25px));
				}
			}
		}
	}

	&__title {
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
	}
	.head-img {
		@include media-breakpoint-up(md) {
			margin-bottom: -10%;
		}
		// margin-bottom: -10%;
	}
	&__container {
		position: relative;
		.video-row {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 2;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1.3%;
			padding: 0 1.25rem;
		}
		.video-item {
			aspect-ratio: 625 /352;
			position: relative;
			video {
				pointer-events: none;
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&__item {
		img {
			margin-bottom: 1rem;
		}
		line-height: 1.3;
	}
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
		&__container {
			padding-inline: 0;
			max-width: none;
			width: initial;
			margin-inline: -15%;
			margin-bottom: -10%;
		}
	}

	@include media-breakpoint-down(xs) {
	}
}

// end.headerBlock

.fixed {
	.headerBlock__btn--fixed {
		transform: translateX(-50%) !important;
	}
}
