mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section.text-center#headerBlock&attributes(attributes)
		.container
			+b.section-title
				h1 #[span Андромеда] — галактика инвестирования
				p Информационно-аналитическая платформа для профессионального инвестора и аналитика

			.text-secondary.small.mb-3 Выберите что вас интересует:
			+e.UL.list
				li: a(href="#").active  Акции
				li: a(href="#")  Облигации
				li: a(href="#")  Сырьевые рынки
				li: a(href="#")  Казначейские операции
				li: a(href="#")  Сделки M&A
				li: a(href="#")  Управление активами
			+e.btn.btn.btn-primary(href="#") Попробовать бесплатно
		+e.container.container
			+img("img/head-img.png").head-img.res-i
			.video-row
				.video-item
					video(src="video/video-1.webm" controls="none" preload="none" muted autoplay loop) 
				.video-item
					video(src="video/video-2.webm" controls="none" preload="none" muted autoplay loop) 
		.container
			+e.row.row
				mixin item(i,t)
					+e.col.col-md-3.col-6
						+e.item
							+img(`img/head-icon-${i}.svg`)
							+e.title!= t
				+item(1,`Аналитические сервисы <br> и&nbsp;функции (FA, DES, BS, etc.)`)
				+item(2,`Рыночные, макро <br> и&nbsp;индустриальные данные`)
				+item(3,`Аналитика Эйлера <br> и&nbsp;других домов`)
				+item(4,`Новости от&nbsp;СМИ и&nbsp;Telegram- <br>каналов в&nbsp;одном месте`)
	// end headerBlock
	a.headerBlock__btn.headerBlock__btn--fixed.btn.btn-primary.d-lg-none(href="#") Попробовать бесплатно