- const version = '0.0.1'
mixin allcss() 
	//- link(href="libs/swiper/swiper-bundle.min.css", rel="stylesheet")
	//- link(href="libs/@fancyapps/ui/fancybox/fancybox.css", rel="stylesheet")
	//- link(href=`css/main.min.css?v=${version}`, rel="stylesheet")
	//- link(href=`css/custom-bootstrap.min.css`, rel="stylesheet")
	link(href=`css/main.min.css`, rel="stylesheet")

mixin allcjs()
	<noscript>
			<div><img src="https://mc.yandex.ru/watch/104159829" style="position:absolute; left:-9999px;" alt="" /></div>
			<div><img src="https://top-fwz1.mail.ru/counter?id=3733525;js=na" style="position:absolute;left:-9999px;" alt="Top.Mail.Ru" /></div>
	</noscript>
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	script(src="libs/select2/js/select2.min.js") 
	script(src="libs/select2/js/i18n/ru.js")  

	<script src="https://files.cloudbpm.ru/Delivery/js/track-cookies.js"></script>
	<script src="https://files.cloudbpm.ru/Delivery/js/create-object.js"></script>

	script(src=`js/landing.js`)
	script(src=`js/JSCCommon.js`)
	script(   src=`js/common.js`)