mixin sVideo(data)
	// start sVideo
	+b.SECTION.sVideo.section#sVideo&attributes(attributes)
		.container
			+b.section-title
				h2 Смотрите видео-обзор терминала 
					span с комментариями старшего аналитика
				
			+b.A.video-block(href="https://rutube.ru/play/embed/ab94ba462203d9111261e3bcf55b8390" data-fancybox="video" data-type="iframe")
				
				//- <iframe width="720" height="405" src="https://rutube.ru/play/embed/ab94ba462203d9111261e3bcf55b8390/" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				+e.front
					+e.man
						div 
							+e.caption.small
								+e.title Никанор Халин
								+e.text Старший аналитик по&nbsp;металлургическому и&nbsp;горнодобывающему сектору
							+e.btn-wrap
								+e.btn
								span.d-md-none Смотреть <br> видео
						+img("img/man.png")
				+e.back
	// end sVideo