// start .sVideo
.sVideo {
	@include media-breakpoint-up(xl) {
		--sPT: #{rem(100)};
		--sPT: #{rem(60)};
	}
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
		max-width: rem(500);
		h2 {
			@include media-breakpoint-up(md) {
				margin-bottom: -50%;
				max-width: em(200);
			}
			max-width: em(150);
		}
		span {
			display: inline-block;
		}
	}
	&__col {
	}
	&__item {
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sVideo

.video-block {
	aspect-ratio: 1278 / 642;
	@include bgs;
	background-image: url(../img/video-bg.jpg);
	cursor: pointer;
	display: block;
	@include media-breakpoint-down(md) {
		padding-bottom: 20px;
	}
	&__front {
		// pointer-events: none;
	}
	&__man {
		margin-left: auto;
		margin-right: auto;
		max-width: 533px;
		position: relative;
		@include media-breakpoint-down(md) {
			display: flex;
			justify-content: space-between;
			gap: 20px;
			img {
				max-width: 70%;
				margin-top: -20%;
				margin-left: -5%;
			}
		}
	}
	&__btn {
		aspect-ratio: 1;
		border-radius: 50%;
		background-image: url(../img/play.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60%;
		cursor: pointer;
		@include mt;
		width: rem(40);
		background-color: $primary;
		@include media-breakpoint-up(md) {
			background-color: rgba(90, 140, 255, 1);
			width: rem(96);
			opacity: 0.3;
			@include a-cent;
		}
	}
	&:hover &__btn {
		opacity: 0.8;
	}
	&__btn-wrap {
		span {
			color: $primary;
			font-size: 20px;
			font-weight: 500;
			line-height: 1;
		}
		@include media-breakpoint-down(md) {
			display: flex;
			align-items: center;
			gap: 20px;
			margin-bottom: 10px;
		}
	}
	&__caption {
		@include media-breakpoint-down(md) {
			margin-bottom: 37px;
			max-width: 150px;
		}
		@include media-breakpoint-up(md) {
			position: absolute;
			left: 90%;
			bottom: 100px;
			width: 100%;
			max-width: 300px;
		}
		text-wrap: balance;
		font-size: 14px;
	}
	&__text {
		font-size: 12px;
		color: $secondary;
	}
}
