mixin sPrices(data)
	// start sPrices
	+b.SECTION.sPrices.section#sPrices&attributes(attributes)
		.container
			+b.section-title.text-xl-center
				.row
					.col
						h2 Выберите 
							span свой тариф
					.col-auto.d-lg-none
						.arrow-wrap
							+arrow()
				
			+e.slider--js.swiper
				.swiper-wrapper
						mixin item(t,p, btn, ...list)
							.swiper-slide
								+e.item&attributes(attributes)
									+e.head
										+e.title.h3!= t
										p!= p
										block
									+e.body
										ul
											each val in list
												li!= val
									+e.footer
										a.btn(href="#sForm").btn-primary= btn
						+item(
							`Демо`,
							`Идеально, чтобы познакомиться                  с Андромедой`,
							`Получить демо бесплатно`,
							`Доступ ко всем основным функциям на 7 дней`,
							`Обзорный пакет аналитики и данных`,
							`1 пользовательский аккаунт`,
							`Краткий видеогид и поддержка на старте`,
							`Возможность перейти на платный тариф в 1 клик`
							)
								+e.price
									span 0 
									| ₽ на 7 дней
						+item(
							`ПРО`,
							`Для продвинутых инвесторов с доступом к профессиональным инструментам`,
							`Начать за 49 000 ₽ в месяц`,
							`Все ключевые аналитические инструменты`,
							`Доступ к рыночным данным и прогнозам от команды Эйлера по всем секторам`,
							`1 пользовательский аккаунт`,
							`Расширенные функции и отчетность`,
							`Скринер акций, сырья, облигаций`,
							`Сравнение исторических спредов облигаций`,
							`Индикаторы и фильтры для самостоятельного анализа`,
							`Билеты на клубные встречи Эйлера с крупнейшими институциональными и розничными инвесторами`,
							`Чат с аналитиками через Инвест-консъержа  в Телеграм`
							).--pro
								+e.price
									span 49 000 
									| ₽ / в месяц
						+item(
							`Корпоративный`,
							`Полный доступ к команде аналитиков и персональное сопровождение для команд`,
							`Запросить расчет тарифа`,
							`Приоритетная поддержка и выделенный менеджер`,
							`Звонки с аналитиками Эйлера один на один`,
							`Персональные настройки под бизнес-задачи`,
							`Несколько пользовательских аккаунтов`,
							`Живые финмодели компаний`,
							`+ все возможности тарифа ПРО`
							)
								+e.price.text-secondary
									span По запросу
			.text-center.h5.text-secondary.fw-400 100% возврат в течении 30 дней если по какой-то причине вам не подошел наш продукт
	// end sPrices