extends ../layout/main.pug

include ../blocks/top-nav/_top-nav.pug
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sLogos/_sLogos.pug
include ../blocks/sCapabilities/_sCapabilities.pug
include ../blocks/sAnalytics/_sAnalytics.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sEvaluate/_sEvaluate.pug
include ../blocks/sLib/_sLib.pug
include ../blocks/sKeyRews/_sKeyRews.pug
include ../blocks/sPrices/_sPrices.pug
include ../blocks/sEcosystem/_sEcosystem.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav()
	main
		+headerBlock()
		+sLogos
		+sCapabilities
		+sAnalytics
		+sVideo
		+sEvaluate
		+sLib
		+sKeyRews()
	
		+sPrices
		+sEcosystem
		+sForm()
	+footer