.form-wrap {
	&__input-wrap {
		// @extend .form-group;
		margin-bottom: rem(15);
		position: relative;
	}
	&__input {
		// @extend .form-control;
		//  outline: 0 !important;
		resize: none;
		height: auto;
		padding-top: calc(#{$input-padding-y} * 2);
		@include media-breakpoint-up(xl) {
			font-size: rem(24);
		}
	}
	&__input-title {
		position: absolute;
		left: $input-padding-x;
		margin-top: em(6);
	}
	&__btn {
		cursor: pointer;
		margin-bottom: rem(15);
	}
	label {
		width: 100%;
		display: block;
	}
}

//
@include media-breakpoint-up(xl) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(xs) {
}
@include media-breakpoint-between(md, xl) {
}
@include media-breakpoint-only(xl) {
}
@include media-breakpoint-down(xs) {
}

.form-wrap__policy {
	font-size: 12px;
}
.form-check {
}
.form-check-input {
}
.form-check-label {
}

input[type="number"] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}
