.menu {
	font-size: 14px;
	& {
		@include media-breakpoint-up(lg) {
			display: flex;
			text-align: center;
			@include roww(20px);
			flex-wrap: wrap;
			justify-content: center;
			.sub-menu {
				display: none;
			}
		}
	}

	& {
		list-style: none;
		position: relative;
		margin-bottom: 0;
		max-width: 100%;
	}
	li {
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a {
		display: block;
		color: $body-color;
		padding: rem(20) calc(var(--bs-gutter-x) / 2);
	}
}

.toggle-menu-mobile {
	& {
		--h: 1px;
		--color: #{$primary};
		--position: calc(var(--h) * 9);

		display: block;
		height: calc(var(--h) * 18);
		position: relative;
		font-size: 26px;
		width: 1em;
		cursor: pointer;
	}
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span {
		@include a-cent(y);
		display: block;
	}

	span:before {
		top: var(--position);
		transform: rotate3d(0, 0, 1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.6s;
		backface-visibility: hidden;
		transform-origin: 50% 50%;
	}

	&.on span {
		// --color: transparent;
		background-color: transparent;
	}

	&.on {
		--position: 0;
		--rotate: 390deg;
	}
}
@include media-breakpoint-down(lg) {
	.menu-mobile {
		transition:
			transform 0.4s ease-in-out,
			opacity 0.1s ease-in-out;
		will-change: transform;
		position: absolute;
		width: 100%;
		top: 100%;
		right: 0;
		backdrop-filter: blur(7.199999809265137px);
		background: rgba(242, 246, 255, 0.8);
		height: calc(100dvh - 100%);
		&:not(.active) {
			& {
				transform: translate3d(0, 100dvh, 0);
				--opacity: 0;
			}
			.toggle-menu-mobile {
				opacity: 0;
			}
		}

		.toggle-menu-mobile {
			margin-left: -15%;
			position: absolute;
			left: 0;
			right: auto;
			color: #fff;
			top: 10px;
			z-index: 9999;
			span:after,
			span:before {
				--color: #ffffff;
			}
		}
		&__inner {
			padding: rem(20) 0 rem(100);
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			// @include mt(.3s);
			// transition-delay: .4s;
			// opacity: var(--opacity);
		}

		&.active {
			.toggle-menu-mobile {
				opacity: 1;
			}
		}

		ul {
			position: relative;
			ul {
				padding-left: 30px;
			}
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, 0.13);

			a {
				// font-size: 16px;

				padding: 10px;
				display: block;
			}
		}
	}
}
