mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.section.block-with-lazy
		.container
			+e.row.row
				.col-sm-auto.col.d-lg-none
					+menu-toggle()
				+e.col.col-lg-auto.col-sm.col-auto
					a(href="/")
						img(src="img/logo.svg", alt="") 
				.col-lg.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
				+e.col.col-sm-auto
					a.btn.btn-outline-primary.w-100(href="#") Записаться на демо
	// end top-nav