// start .sAnalytics
.sAnalytics {
	--sPT: #{rem(0)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		--bs-gutter-x: #{rem(8)};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__item {
		height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		padding: 40px;
		padding-bottom: 0;
		border: 1px solid #fff;
		overflow: hidden;
		position: relative;
		img {
			margin-top: auto;
		}
		ul {
			padding-left: 1rem;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAnalytics
