// start .sAnalytics
.sAnalytics {
	--sPT: #{rem(0)};
	--sPB: #{rem(60)};
	// --sTPB: #{rem()};

	h3 {
		@include rfs(32px);
	}
	&__row {
		--bs-gutter-x: #{rem(8)};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__item {
		height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		padding: 40px;
		padding-bottom: 0;
		border: 1px solid #fff;
		overflow: hidden;
		position: relative;
		backdrop-filter: blur(18px);
		box-shadow: 0 30px 59px 0 rgba(116, 135, 204, 0.11);
		background:
			rgba(240, 244, 254, 0.3),
			radial-gradient(
				53.86% 93.27% at 75.32% 0%,
				#fff 0%,
				rgba(255, 255, 255, 0) 100%
			);
		img {
			margin-top: auto;
		}
		ul {
			padding-left: 1rem;
			margin-bottom: rem(40);
		}
	}

	&__title {
		margin-bottom: rem(26);
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAnalytics
