mixin sAnalytics(data)
	// start sAnalytics
	+b.SECTION.sAnalytics.section#sAnalytics&attributes(attributes).d-none.d-lg-block
		.container
			+b.section-title
				h3 Аналитика и информация для:
				
			+e.row.row
				mixin item(i, t)
					+e.col.col-4
						+e.item
							+e.title.h5= t
							ul
								block
							+img(`img/sAnalytics-${i}.png`).res-i
				+item(1, 'Сделки M&A')
					li Отраслевые обзоры и аналитика
					li Макроэкономическая статистика
					li База данных по компаниям
					li Мультипликаторы глобальных и российских компаний
				+item(2, 'Казначейские операции')
					li Ежедневный обзор денежного рынка: ставки, овернайт и на длинные сроки, стоимость привлечения денег, свопы на ключевую ставку, юаневые ставки, операции с ЦБ, баланс федерального казначейства
					li Рыночные данные в реальном времени
					li Макроэкономическая статистика и прогнозы
				+item(3, 'Управление активами')
					li Обзор ключевых классов активов (акции, облигации, ПИФы, недвижимость и др.)
					li Консенсус-прогнозы (скоро)
					li Прогнозы и скринеры по акциям и облигациям
					li Подбор перспективных идей и монитор ликвидности
	// end sAnalytics