
mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in nav
				li.menu-item(itemprop="item" )
					a(href= link.url itemprop="url")= link.name
					if link.subnav
						ul.sub-menu
							each sublink in link.subnav
								li.menu-item(itemprop="item" ): a(href= sublink.url itemprop="url")= sublink.name

//- menu